<div class="container">
    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Estados</h1>

                <div [ngClass]="classesCss" class="alert alert-success" role="alert" *ngIf="mensagem">
                    
                    <span [ngSwitch]="mensagem.tipo">
                        <strong *ngSwitchCase="'danger'">Error!</strong>
                        <strong *ngSwitchCase="'success'">Sucesso!</strong>
                        <strong *ngSwitchCase="'warning'">Alerta!</strong>
                        <strong *ngSwitchDefault>Informação!</strong>
                    </span>
                    {{ mensagem.texto}}
                  </div>

                <a class="btn btn-success" routerLink='/estado/form'>Novo</a>

                <table class="table table-striped table-hover"> 
                    <thead>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>UF</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of estados" [routerLink]="['/estado/form',c.id]">
                            <td>{{ c.id }}</td>
                            <td>
                                {{ c.nome }}
                            </td>
                            <td>{{ c.uf }}</td>
                            <td>
                                <button class="btn btn-danger"(click)="onDelete(c); $event.stopPropagation()">Deletar</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>